body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-size: 1.5em;
}

.container {
    background-color: #efefef;
    width: 70em;
    margin: auto;
    padding: 7em;
    box-shadow: 10px 5px 5px #888;
}

.photo {
    width:20em;
    border-radius: 50%;
}

section > header {
    border-bottom: 0.05em gray solid;
    box-shadow: 0 0.5em 5px #888;
    margin: 1em 0 1.5em 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.name {
    font-size: 1.7rem;
}

.job-position {
    color: #888;
}